<!DOCTYPE html>
<html>
<head>
     <title>Random Passcode</title>
    <meta charset='utf-8'/>
    <link rel='stylesheet' type='text/css' href='~/css/styles.css'>
</head>
    <body>
        <h1>Random String: @ViewBag.Pass</h1>
        <h1>@ViewBag.Count</h1>
            <button id='Generator' formaction='Generator'><a href="" type=submit>Submit</a></button>
    </body>
</html>