<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Random Passcode</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>Random Passcode (passcode #@ViewBag.Count)</h2>
        <h1>@ViewBag.Result</h1>
        <form action="generate" method="post">
            <input type="submit">
        </form>
    </body>
</html> -->

<h1>@ViewBag.Pass</h1>
<h1>@ViewBag.Count</h1>